.padded.section{
	padding-bottom: 80px;
	padding-top: 80px;
}
.text-read{
	font-size: 16px;
	font-weight: 300;
	letter-spacing: .5px;
}
.top-space{
	margin-top: 3em;
}
.bottom-space{
	margin-bottom: 1em;
}
.m-top-space{
	margin-top:2em
}